@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
html{
  font-size: 10px;
}
body{
  width: 100%;
}
.contenedor {
  font-family: Nunito;
  width: 100%;
  background-color: #fec7d7;  
  height: 100vh;
}
.principal {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.presentacion{
  width: 100%;
  display: inline-block;
}
.img-presentacion{
  width: 80%;
}
.titulo-parrafo{
  font-size: 1.2rem;
  font-weight:600;
  color: #0E172C;
}
.text-parrafo{
  margin: 3% 3% 0 3%;  
  font-size: 1.2rem;
  color: #535353;
}
.pie-pagina{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
.btn{
  width: 100px;
  background-color: #0E172C;
  padding: 4%;
  border-radius: 30px;
  color: #FFFFFE;
  text-decoration: none;
  text-align: center;
  height: 60%;
  box-sizing: border-box;
}
.btn-siguiente{  
  width: 80%;
}