.pie-pagina {
  background-color: white;
}
.btn-opcion{
    width: 20%;
    background-color: transparent;
}
.btn-seleccionado{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  padding: 2%;
}
.btn-seleccionado img{
  height: 1.5rem; 
  opacity: 50%;
  line-height:0;
}
.btn-seleccionado spam{
    line-height: 19.1px;
    font-size: 14px;
    margin-left: 1%;
    font-weight: 400;
    color: rgb(93, 238, 214);
    letter-spacing: 0.5%;
    font-style: normal;
}
