.principal{
    display: inline-block;
    height: 100vh;
}
h3{
    text-align: left;
    font-size: 2.5rem;
}
.seccion{
    display: inline-block;
    width: 100%;
}
.sec-arriba{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil-foto{
    width: 70px;
    border-radius: 100%;
}
.nombre{
    font-size: 1.8rem;
    font-weight: 800;
}
.perfil-form{
    width: 100%;
}
.medio{
    text-align: center;
}
.tit-form{
    font-size: 1.5rem;
    display: block;
    text-align: center;
}
.label{
    font-size: 1.8rem;
    font-weight: 1000;
    text-align: left;    
    display: block;
    width: 100%;
    color: #0E172C;
    margin: 10px 0 5px 0;
}
.input{
    width: 100%;
    height: 4.5rem;
    border-radius: 5px;
    border: 1px solid #535353;
    padding: 10px;
    box-sizing: border-box;
    color: #0E172C;
}

.btn-guardar{
    margin-top: 30px;
    width: 100%;
}