.principal{
    justify-content: initial;
}
.titulo{
    font-weight: 800;
    font-size: 24px;
    text-align: left;
}
.arriba{
    box-sizing: border-box;
    width: 100%;
    font-style: normal;
    color: #0E172C;
    height: 15%;
}
.arriba-favoritas{
    height: 5%;
}
.tit-categorias{
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 24.55px;
    letter-spacing: 0.15%;
    color: #0E172C;
    margin-bottom: 3%;
}
.img-categoria{
    width: 160px;
}
.img-categoria:nth-child(1n){
    float: left;
}
.img-categoria:nth-child(2n){
    float: right;
}
.medio{
    width: 100%;
    height: 15%;
}
.abajo{
    width: 100%;
    height: 100%;
    overflow: auto;
}
table{
    width: 100%;
}
tr{
    width: 100%;
}
td{
    width: 50%;
}
td:nth-child(odd) #card{
    float: left;
    width: 156px;
}
td:nth-child(even) #card{
    margin-top: 48px;
    float: right;
    width: 156px;
}
.img-resultado{
    border-radius: 10px;
}